<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qbase.huaweiability">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".app.AbilityApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/QBaseTheme">
        <activity android:name=".ui.MainAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ************************************Android 能力**************************************-->

        <activity
            android:name=".ui.android.AndroidAct"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale|layoutDirection"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged"
            tools:ignore="LockedOrientationActivity" />
        <!-- ************************************HMS 能力**************************************-->
        <activity
            android:name=".ui.hms.HmsAct"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale|layoutDirection"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.hms.fido.FidoAct"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale|layoutDirection"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.hms.fido.BioAuthnAct"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale|layoutDirection"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.hms.fido.BioAuthnAndroidAct"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale|layoutDirection"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>